body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-image:url("asset/gambarkalem.webp");
    background-size: cover;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: white;
 }

header {
    background-color: #af7b63;
    color: white;
    text-align: center;
    padding: 20px;
}

a {
  text-decoration: none;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/*.item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}*/

@keyframes tumbleIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.item {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 430px;
    animation: tumbleIn 1.5s ease-in-out both;
    flex-direction: column;
    justify-content: center;
    
}

.item img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    flex: 2;
}

.item img:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease-in-out;
}

.sub-item {
    
    width: 100%;
    height: 40%;
    flex-wrap: wrap;
    display: block;
    flex: 2;
    padding-top: 5px;
}
 


footer {
    text-align: center;
    background-color: #af7b63;
    color: white;
    padding: 10px;
    margin: 0;
   }



.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
    border-radius: 12px;
  cursor: pointer;
    color: inherit;
}

.button5 {
  background-color: #af7b63;
  color: white;
      color: inherit;
}

.button5:hover {
  background-color: #7c4830;
  color: white;
    color: inherit;
}
